/* -=-=-Globally used-=-=- */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sequel', sans-serif; 
  } 

  .red{
    color: red;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
  }

  .green{
    color: rgb(0, 176, 0);
  }
  
  .Account{
    position: fixed;
    right: 11vw;
    top: 2.5vh;
    font-size: 25px;
  }
  
  .userdata{
    position: fixed;
  }
  
  #usericon{
    position: fixed;
    background: none;
    border: 0;
    color: white;
    font-size: 30px;
    width: 3.5vw;
    height: 7vh;
    right: 7vw;
    top: 1vh;
  }
  
  .Uitlog-btn {
    position: fixed;
    right: 13vw;
    top: 7vh;
    color: white;
  }
  
  #shoppingicon{
    position: fixed;
    width: 3.5vw;
    height: 7vh;
    right: 2vw;
    top: 1vh;
  }
  
  .shoppingitems{
    background-color: white;
    color: black;
    width: 1.5vw;
    height: 2.5vh;
    border-radius: 50%;
    position: fixed;
    top: 0.5vh;
    right: 1.3vw;
    text-align: center;
  }
  
  .dropdown{
    position: fixed;
    top: 1vh;
    left: 1.5vw;
  }
  
  .menu-btn{
    position: fixed;
    background: none;
    border: 0;
    color: white;
    font-size: 30px;
    width: 3vw;
    height: 6vh;
  }
  
  .dropdown-menu{
    position: fixed;
    top: 6vh;
    left: 0.1vw;
    background: none;
    text-align: left;
    border-radius: .25rem;
    padding: .75rem;
    width: 12vw;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: opacity 200ms ease-in-out, transform 400ms ease-in-out;
  }
  
  .dropdown.active > .menu-btn + .dropdown-menu{
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }
   
  #usericon{ 
    position: fixed; 
    background: none; 
    border: 0; 
    color: white; 
    font-size: 30px; 
    width: 3.5vw; 
    height: 7vh; 
    right: 7vw; 
    top: 1vh; 
  } 




/* ----Homepage----  */




.homepage{
  background: linear-gradient(rgba(0, 0, 0, 0.79), rgba(0, 0, 0, 0.79)),
  #6C8C81;
  background-size: cover;
}

.grid--container{
  display: grid;
  grid-template-columns: repeat(2);
  grid-template-rows: repeat(3);
}

.header{
  background: linear-gradient(rgba(0, 0, 0, 0.79), rgba(0, 0, 0, 0.79)),
  url("Images/spacingbanner.png");
  background-size: cover;
  width: 100vw;
  height: 25vw;
  color: white;
  text-align: center;
}

#Webshop-name{
  color: white;
  left: 6vw;
  top: 2.5vh;
}

.Infodata{
  grid-row: 2 / 3;
  text-align: center;
  color: white;
  left: 25vw;
  top: 15vh;
  font-size: 20px;
  font-weight: bold;
}

#Bodytext{
  font-size: 40px;
}

a{
  color: white;
  font-size: 25px;
  font-weight: bolder;
  text-decoration: none;
  transition: color 100ms ease-in-out;
}

.socialbox{
  grid-row: 3 / 4;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

.socials{
  margin: 2.7vw;
  width: 8vw;
  height: 16vh;
  transition: 1s ease-in-out;
}

.socials:hover{
  width: 10vw;
  height: 20vh;
}




/* ---Webshop--- */




.webshop{
  background-color: rgb(146, 146, 146);
}

.shop-section{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 85vw;
  margin-top: 3vh;
  margin-left: 7.5vw;
  margin-right: 7.5vw;
}

.merch-info{
  color: white;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  transform: translateY(-7.5vh);
}

.merchImg{ 
  border-radius: 1.3vw;
  width: 19vw;
  height: 37vh;
}

.limited-sign{
  position: relative;
  width: 16vw;
  height: 15vh;
  transform: translateY(-37.5vh);
}

.merch-box{
  border: solid black 0.5vw;
  border-radius: 1.8vw;
  width: 20vw;
  height: 57vh;
  padding-bottom: 3vw;
  margin: 5vw;
  background: linear-gradient(rgba(0, 0, 0, 0.29), rgba(0, 0, 0, 0.55)),
  #6C8C81;
}

.sold-out{
  border: solid rgba(255, 255, 255, 0.39) 0.3vw;
  border-radius: 1vw;
  color: rgba(255, 255, 255, 0.39);
  background: none;
  width: 15vw;
  height: 5vh;
  margin-left: 0.5vw;
  margin-top: 1vh;
  transform: translateY(-6.5vh);
}

.buy-btn{
  border: solid white 0.3vw;
  border-radius: 1vw;
  color: white;
  background: none;
  width: 15vw;
  height: 5vh;
  margin-left: 0.5vw;
  margin-top: 1vh;
  transition:450ms;
  transform: translateY(-6.5vh);
}

.buy-btn:hover{
  border: solid rgb(94, 94, 94) 0.4vw;
  border-radius: 1vw;
  color: rgb(94, 94, 94);
  background: none;
}

.buy-btn:active{
  border: solid rgb(17, 17, 17) 0.4vw;
  border-radius: 1vw;
  color: rgb(17, 17, 17);
  background: none;
}




/* ---Inloggen--- */




.inlogpage{
  background-color: rgb(52, 52, 52);
}

.h1-inlog{
  top: 30vh;
  color: white;
  text-align: center;
}

.h2-inlog{
  font-size: 40px;
  color: white;
  margin: 20px 0px 0px 60px;
  transition: 1.2s;
}

.h2-inlog:hover{
  font-size: 40px;
  color: rgb(97, 97, 97);
  transform: translateX(-40px);
}

.inlog-box1{
  position: absolute;
  top: 40%;
  right: 51%;
  width: 13vw;
  height: 4vh;
}

.inlog-box2{
  position: absolute;
  top: 40%;
  left: 51%;
  width: 13vw;
  height: 4vh;
}

.submit-btn{
  position: absolute;
  width: 8%;
  height: 6%;
  left: 46%;
  top: 48%;
  border: solid white 3px;
  color: white;
  border-radius: 200px;
  background: none;
  font-size: 26px;
  transition: 1s;
}

.submit-btn:hover{
  border: solid rgb(82, 82, 82) 3px;
  color: rgb(82, 82, 82);
  border-radius: 200px;
  background: none;
  font-size: 26px;
  transition: 1s;
}




/* ---Admin-Panel--- */




.controlpage{
  background-color: rgb(52, 52, 52);
  align-items: center;
}

.m-toevoeg{
  position: absolute;
  width: 9vw;
  height: 4vh;
  left: 48vw;
  margin-top: 17.6vh;
}

.m-toevoeg2{
  color: white;
  font-size: large;
  font-weight: bold;
  width: 20vw;
}

.Label{
  position: absolute;
  left: 38vw;
  margin-top: 18vh;
  color: white;
  font-size: large;
  font-weight: bold;
}

.limited-btn{
  position: absolute;
  width: 1.4vw;
  height: 1.4vw;
  left: 49vw;
  top: 40vh;
}

#Toevoeg-btn{
  position: absolute;
  width: 8%;
  height: 6%;
  left: 46%;
  top: 48%;
  border: solid white 3px;
  color: white;
  border-radius: 200px;
  background: none;
  font-size: 26px;
}

#Toevoeg-btn:hover{
  border: solid rgb(82, 82, 82) 3px;
  color: rgb(82, 82, 82);
  border-radius: 200px;
  background: none;
  font-size: 26px;
  transition: 1s;
}

.melding{
  position: relative;
  text-align: center;
  margin-top: 40vh;
  font-size: 24px;
  font-weight: bold;
}